.App {
  /* background-color: green ; */
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.parent {
  
}

#map {
  /* top: 50vh; */
  height: 100vh;
  /* z-index: -10; */
}

