html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

form.form {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
}

div.form-group {
  border: 1px solid yellowgreen;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

form.form input {
  padding: 10px;
  border-radius: 5px;
  border-style: hidden;
}

span {
  color: aqua;
}

div.beforeGrow {
  height: 0;
  transition: 1s;
}

div.growClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
}

div.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* For Tablet view */
@media (max-width: 1050px) {
  div.parent {
    position: absolute;
    left: 5%;
    top: 20%;
    display: block;
    width: 100%;
    margin: auto;
  }

  form.form {
    flex-direction: column;
  }
}

/* For Mobile view */
@media (max-width: 900pxz) {
  div.parent {
    position: absolute;
    left: 0;
    top: 20%;
    display: block;
    width: 100%;
    margin: auto;
  }

  form.form {
    flex-direction: column;
  }
}
