html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.parent {
  position: fixed;
  top: 20%;
  z-index: 1;
  /* border-bottom: 1px solid beige; */
  transition: 3s;
}

.form-container {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

form.form {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
}

div.form-group {
  border: 1px solid yellowgreen;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

form.form input {
  padding: 10px;
  border-radius: 5px;
  border-style: hidden;
  width: -webkit-fill-available;
}

span {
  font-weight: 600;
}

button:hover span {
  color: aliceblue;
}

div.beforeGrow {
  height: 0;
  /* display: none; */
  transition: 1s;
}

div.growClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: max-content;
  width: 70%;
}

.growClass > .row {
  background-color: rgba(70, 200, 157, 0.308);
  border: 1px solid aqua;
  border-radius: 10px;
  width: inherit;
}

div.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background-color: cornsilk;
}

p {
  color: aliceblue;
  padding: 2px 5px 0 2px;
  margin-bottom: 0.5rem;
}




/* For Tablet view */
@media (max-width: 1050px) {
  div.parent {
    position: fixed;
    left: 5%;
    top: 20%;
    display: block;
    width: 100%;
    margin: auto;
  }

  form.form {
    flex-direction: column;
  }

  div.details {
    flex-direction: column;
  }
}

/* For Mobile view */
@media (max-width: 900pxz) {

  body {
    overflow: hidden;
  }

  div.parent {
    position: relative;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  form.form {
    flex-direction: column;
  }

  div.details {
    flex-direction: column;
  }
}
